.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.div1 {
  width: 100%;
}

.div2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
  padding: 4%;
  padding-top: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  margin-top: 5%;
}

h1 {
  user-select: none;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  background-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.contentExp {
  width: 100%;
  height: fit-content;
}

.informationsExp {
  position: absolute;
  width: 30%;
  height: 100%;
  bottom: 0;
  right: -30%;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.exp {
  margin-bottom: 10%;
}

.titleExp {
  margin: 0;
}

.description {
  margin: 0;
  font-style: italic;
}

.iconShow {
  position: absolute;
  top: 0;
  right: -5%;
  color: #ffffff;
}

.iconArrowClose,
.iconArrowOpen {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
}

.iconShow {
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 5%;
  z-index: 999;
}

.arrowInfo {
  width: 100%;
  height: 100%;
}

/* Affichage de l'icône d'ouverture par défaut */
.iconArrowOpen {
  opacity: 1;
  visibility: visible;
}

/* L'icône de fermeture est cachée au départ */
.iconArrowClose {
  opacity: 0;
  visibility: hidden;
}

/* Quand le menu est ouvert, on inverse */
.iconShow.open .iconArrowOpen {
  opacity: 0;
  visibility: hidden;
}

.iconShow.open .iconArrowClose {
  opacity: 1;
  visibility: visible;
}


/*Button animation*/

.box {
  position: relative;
  margin: 0;
}

.btn-border-4::after,
.btn-border-4::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: .4s;
}

.btn-border-4::after {
  top: -9px;
  left: -9px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

.btn-border-4::before {
  bottom: -9px;
  right: -9px;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}

.btn-border-4:hover {
  color: #ffffff;
}

.btn-border-4:hover::after,
.btn-border-4:hover::before {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border-color: #ffffff;
}

.reset {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  padding: 1%;
  z-index: 100;
}